
main{
    display: flex;
    flex-direction: column;
}

section{
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 20px;
}

section .container{
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

section > p{
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;
}

