body{
    /* background-color: rgb(44, 69, 106); */
    background-color: #eee;
    color: black;
    display: grid;
    grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
    grid-template-columns: 1fr 4fr;
    padding-bottom: 60px;
    box-sizing: border-box;
    margin: 5px;
    gap: 5px;
}

.no-sidemenu-body{
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
}

header{
    grid-area: header;
    top: 0;
}
footer{
    grid-area: footer;
    bottom: 0;
    justify-content: center;
}

header,
footer{
    background-color: #222222;
    position: fixed;
    left: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    z-index: 1000;
}


.no-sidemenu-body main{
    border: none;
}

main  {
    grid-area: main;
    border-left: 1px solid rgb(200,200,200);
    box-shadow: inset 2px 0 2px -1px rgba(255,255,255,0.2) ;
}

aside {grid-area: aside;}

main, aside{
    width: 100%;
    margin-top: 7vh;
    box-sizing: border-box;
    padding: 20px;
    min-height: 80vh;
}


header nav ul{
    list-style: none;
    font-size: 1.2rem;
    display: flex;
}

header nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header nav a:hover{
    transform: scale(1.2);
    color: rgba(118,118,244);
}

.auth-form{
    width: 50%;
    display: flex;
    max-width: 500px;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    
    box-shadow: -2px -2px 3px grey inset ,
                0 0 8px grey,
                2px 2px 4px white inset;
}

input[type="text"],input[type="password"] {
    width: 95%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: -2px -2px 1px grey inset ,
                0 1px 5px grey;
                /* 2px 2px 4px white inset; */
    height: 30px;
    color: #222;
    padding-left: 10px;
}

button {
    width: 20%;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black,
                inset 1px 1px 2px #fff;
    background-color: rgba(0, 102, 255, 0.7);
}

a{
    text-decoration: none;
}

#logout{
    color: rgb(225, 5, 5);
}   