
main{
    display: flex;
    flex-direction: column;
}

section{
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 20px;
}

section .container{
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

section > p{
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;
}

.task-item,
.project-item{
    background:linear-gradient(135deg, rgb(236, 236, 236), white);
    color: black;
    border-radius: 10px;
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    /* box-shadow: -1px -1px 3px grey inset ,
                0 0 4px grey,
                2px 2px 2px white inset; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.task-item .task-title,
.project-item .project-title{
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
}

.faded{
    color: grey;
    font-size: 0.9rem;
    margin: 0;
}

.faded i{
    margin: 5px;
}

.task-content{
    padding: 0;
    margin: 0;
    flex-grow: 1;
}
.task-item .elapsed-time{
    margin-top: auto;
}